:root {
  --neutral-raw-100: 0 0 95%;
  --neutral-raw-300: 0 0 81%;
  --neutral-raw-500: 0 0 54%;
  --neutral-raw-700: 0 0 23%;
  --neutral-raw-900: 0 0 7%;

  --primary-raw-100: 332 100 97%;
  --primary-raw-300: 331 100 67%;
  --primary-raw-500: 331 100 47%;
  --primary-raw-700: 331 100 37%;
  --primary-raw-900: 331 100 17%;

  --secondary-raw-100: 80 100 97%;
  --secondary-raw-300: 80 100 67%;
  --secondary-raw-500: 80 100 41%;
  --secondary-raw-700: 80 100 27%;
  --secondary-raw-900: 80 100 17%;
}

:root {
  --neutral-100: var(--neutral-raw-100);
  --neutral-300: var(--neutral-raw-300);
  --neutral-500: var(--neutral-raw-500);
  --neutral-700: var(--neutral-raw-700);
  --neutral-900: var(--neutral-raw-900);

  --primary-100: var(--primary-raw-100);
  --primary-300: var(--primary-raw-300);
  --primary-500: var(--primary-raw-500);
  --primary-700: var(--primary-raw-700);
  --primary-900: var(--primary-raw-900);

  --secondary-100: var(--secondary-raw-100);
  --secondary-300: var(--secondary-raw-300);
  --secondary-500: var(--secondary-raw-500);
  --secondary-700: var(--secondary-raw-700);
  --secondary-900: var(--secondary-raw-900);

  @media (prefers-color-scheme: dark) {
    --neutral-100: var(--neutral-raw-900);
    --neutral-300: var(--neutral-raw-700);
    --neutral-500: var(--neutral-raw-500);
    --neutral-700: var(--neutral-raw-300);
    --neutral-900: var(--neutral-raw-100);

    --primary-100: var(--primary-raw-900);
    --primary-300: var(--primary-raw-700);
    --primary-500: var(--primary-raw-500);
    --primary-700: var(--primary-raw-300);
    --primary-900: var(--primary-raw-100);

    --secondary-100: var(--secondary-raw-900);
    --secondary-300: var(--secondary-raw-700);
    --secondary-500: var(--secondary-raw-500);
    --secondary-700: var(--secondary-raw-300);
    --secondary-900: var(--secondary-raw-100);
  }

  .light {
    --neutral-100: var(--neutral-raw-100);
    --neutral-300: var(--neutral-raw-300);
    --neutral-500: var(--neutral-raw-500);
    --neutral-700: var(--neutral-raw-700);
    --neutral-900: var(--neutral-raw-900);

    --primary-100: var(--primary-raw-100);
    --primary-300: var(--primary-raw-300);
    --primary-500: var(--primary-raw-500);
    --primary-700: var(--primary-raw-700);
    --primary-900: var(--primary-raw-900);

    --secondary-100: var(--secondary-raw-100);
    --secondary-300: var(--secondary-raw-300);
    --secondary-500: var(--secondary-raw-500);
    --secondary-700: var(--secondary-raw-700);
    --secondary-900: var(--secondary-raw-900);
  }

  .dark {
    --neutral-100: var(--neutral-raw-900);
    --neutral-300: var(--neutral-raw-700);
    --neutral-500: var(--neutral-raw-500);
    --neutral-700: var(--neutral-raw-300);
    --neutral-900: var(--neutral-raw-100);

    --primary-100: var(--primary-raw-900);
    --primary-300: var(--primary-raw-700);
    --primary-500: var(--primary-raw-500);
    --primary-700: var(--primary-raw-300);
    --primary-900: var(--primary-raw-100);

    --secondary-100: var(--secondary-raw-900);
    --secondary-300: var(--secondary-raw-700);
    --secondary-500: var(--secondary-raw-500);
    --secondary-700: var(--secondary-raw-300);
    --secondary-900: var(--secondary-raw-100);
  }
}